{% extends "base.html" %}
{% load projects_tags %}
{% load static %}


{% block content %}  

<h1> Hobby Projects </h1>
  <div class="card-deck">
    {% for project in projects %}
      <div class="col-4">
      <div class="card text-black bg-warning border-primary mb-3" style="width: 18rem;">
        <img src="{% static 'projects/images/'|add:project.image %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
        </div>
        {% comment %} <ul class="list-group list-group-flush">
            {% with project.technology|split:"," as technologies %}
                {% for technology in technologies %}
                    <li class="list-group-item">{{ technology }}</li>
                    <br>
                {% endfor %}
            {% endwith %}
        </ul> {% endcomment %}
        {% if project.is_sc_enabled %}
          <div class="card-body">
              <a href={{ project.url }} class="card-link">Source Code</a>
          </div>
        {% endif %}
      </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}