{% load static %}
{% load i18n %}

<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="{% static 'home/images/mashup-icon.svg' %}" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://dilipsharma.herokuapp.com/" title="Dilip's Portfolio"><strong><b>Dilip Kumar Sharma</b></strong></a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/diliplakshya" title="Dilip's LinkedIn">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://github.com/diliplakshya" title="Dilip's GitHub">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>